# Основы программирования в Python

*Алла Тамбовцева и Светлана Жучкова, НИУ ВШЭ*

## Семинар 3

### Задача 0 (разминка)

Даны два списка `a` и `b` (см. ниже).
    
1. Выведите на экран первый элемент списка `a`, третий элемент списка `a`, последний элемент списка `a`.
2. Добавьте в список `b` элемент 7 (просто допишите в конец).
3. Замените пятый элемент списка `a` на число 8.
4. Создайте список `merged`, который включает в себя все элементы списка `a` и списка `b`.
5. Создайте новый список `с`, который получается заменой последнего элемента списка `a` на число 100. Сам список `a` измениться не должен!

In [1]:
a = [1, 0, 9, 12, 18, 34, 89, 91, 33, 127]
b = [2, 8, 9, 11, 76, 25, 44]

### Задача 1 (девочковая)

Есть список имен:

In [2]:
girls = ["Иветта", "Виолетта", "Кассандра", "Вирджиния", "Амелия", "Розамунда", "Янина", "Беатриса"]

Используя список `girls`, выведите на экран следующие списки:

    ["Виолетта", "Кассандра", "Вирджиния", "Амелия"]
    ["Вирджиния", "Амелия", "Розамунда", "Янина", "Беатриса"]
    ["Иветта", "Виолетта", "Вирджиния", "Амелия"]
    ["Кассандра", "Амелия", "Розамунда"]

### Задача 2 (поэлементная) 

Дан список L. Выведите на экран (последовательно, с новой строчки): 

* все элементы списка L
* логарифмированные значения элементов списка L

In [13]:
L = [12, 3, 8, 125, 10, 98, 54, 199]

Замените пятый элемент списка L на 0. Проделайте те же операции, что и раньше. Объясните, почему получаются такие результаты.

### Задача 3 (демографическая)

В списке `age` сохранены значения возраста респондентов: 

    age = [24, 35, 42, 27, 45, 48, 33]
    
Создайте список age2, в котором будут храниться значения возраста, возведённые в квадрат.

### Задача 4 (чётная лёгкая)

Пусть дан список чисел `numbers`. Найдите в нём все чётные числа и поместите их в отдельный список `even_numbers`.

In [4]:
numbers = [1, 5, 6, 8, 10, 21, 25, 1, 0, -9, 9, 12, 26]

### Задача 4 (чётная средняя)

Пусть дан список чисел `numbers`. Найдите в нём все чётные числа, поместите их в отдельный список `even_numbers` и удалите из исходного списка `numbers` эти числа.

In [4]:
numbers = [1, 5, 6, 8, 10, 21, 25, 1, 0, -9, 9, 12, 26]

### Задача 4 (чётная сложная)

Пусть дан список чисел `numbers`. Преобразуйте этот список: перед каждым чётным числом в этом списке поставьте то же число, уменьшенное на единицу.

In [4]:
numbers = [1, 5, 6, 8, 10, 21, 25, 1, 0, -9, 9, 12, 26]

### Задача 5 (мыслительная)

Объясните, что делает следующий код и почему он выдаёт такие результаты:

In [5]:
lst = [1,2,3,4]

for i in range(len(lst)):
    a = lst[i] + lst[i-1]
    print(a)

5
3
5
7